<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>LQAB爬虫微服务 1.0</title>
</head>

<body>
<center>
<div>
<img src="../statics/img/show_test_tornado.gif"  alt="请输入关键词" />
<br>
</div>
<form action="../api" method="post" name="form1" target="_self" id="form1" accept-charset="utf-8" onsubmit="document.charset='utf-8';">
  <p>输入：
    <input name="keyword" type="text" id="keyword" size="32" />
    &nbsp&nbsp
    用户ID：<input name="uid" type="text" id="uid" value="1" size="3" "/>
    &nbsp&nbsp
    <select name="web_is" >
      <option value="url">通用网址</option>
      <option value="baidu">百度</option>
      <option value="sogou">搜狗</option>
      <option value="360">360</option>
      <option value="intention">通用意图搜索</option>
    </select>
    &nbsp&nbsp
    <input type="submit" name="button" id="button" value="提交" />
  </p>
  <div style="text-align:left;width:598px;">
  <p>1. 可以自动识别是网址（网站模式），还是关键词（语义模式）。</p>
  <p>2. 默认返回密文，提交相关的用户ID，才能被正确加密。</p>
  <p>3. 密文被解密默认返回json。</p>
  </div>
</form>
<div class="col-xs-8 col-xs-offset-2" id="show_context_id">
            <section class="content"  id="main_context">
                 <div id="ss" style="display:none;" >
                    <div class="box ">
                        <div class="box-body" id="show_table_id">
                            <div id="table_box" >
                                <div class="panel-group" id="accordionTable">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="row panel-title ">
                                                <div class=" panel-title col-lg-11 col-md-10 col-sm-10 col-sm-10">
                                                    <a data-toggle="collapse" data-parent="#accordionTable" href="#collapseTable" id="table_title_id"> 点击查询 </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="collapseTable" class="panel-collapse collapse in">
                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane active" id="tab2">
                                                    <div class="list_d" >
                                                        <div class="row" >
                                                            <div class="item" style="display:none;">
                                                                <div class="item_a row_a">
                                                                    <div class="item_a_a col_1" style= "color:#3861a4">title </div>
                                                                    <div class="item_a_b" style="display:none;">
                                                                        <a class="btn-xs btn_c mr5"><i class="fa fa-heart-o"> 关注 </i> </a>
                                                                    </div>
                                                                </div>
                                                                <div class="item_b row_a" style="display:none;">
                                                                    <div class="item_b_d"><span class="label label-primary"> 中标  </span> </div>
                                                                </div>
                                                                <div class="item_c">summary
                                                                </div>
                                                                <div class="item_d">
                                                                    <span  style= "color:#3861a4">公告日期：2018-04-25</span>
                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    <div class="col-xs-5 col-xs-offset-2" style="top:40px;width:600px;">
        <div class="foot">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12" style="text-align:left;">
                    <div class="text-center"><h3>技术特点:</h3></div>
                    <p>1主程序和爬虫引擎无需再部署在同一台物理主机，可以做到跨操作系统和初级的分布式负载均衡。</p>
                    <p>2.提供了成熟高效的对称加密功能，保证了外网通讯中爬取结果的安全与私密性。因为做到了跨网段部署。可以承担一部分代理云主机的角色，例如:可以部署在国外，获得国外IP和网络带宽，对一些特殊网站可以很好的采集。</p>
                    <p>3.无论部署在内网还是外网，都支持基于关键词的语义爬取。语义爬取内容主要是输入关键词从搜索引擎采集， 因此可以用于传统的元搜索，搜索小偷和智能问答机器人等高端数据采集需求。</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div>如果您觉得效果不错，请<font color="#FF0000" style="font-size:18px;">扫码资助</font>我们的开源项目《LQAB爬虫微服务》</div>
                    <div><img src="/statics/img/pay_weixin.jpg" style="width:50%;"/></div>
                </div>
            </div>
            <div class="row" style="top:40px;margin-top:20px;">
                <div class="col-xs-10 col-xs-offset-2" style="border:1px solid #000;">
					<p></p>
                    <p>QQ群：88786426 &nbsp;&nbsp;<a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=f5133f3fd55a772b84246a0786037242bd2379feddabc2cabffce7d700e4fe67"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="丽华爬虫微服务总群" title="丽华爬虫微服务总群"></a></p>
                    <p><img src="../statics/img/group_qq.png" width="302" height="302" alt="丽华爬虫微服务" longdesc="http://lqab.net:8004"></p>
                    <p>联系电话：15636176092（微信同号，早9:00  -- 晚16:00）</p>
                    <p>客服微信二维码：<img src="../statics/img/15636176092.jpg" width="302" height="302" alt="丽华爬虫微服务" longdesc="http://lqab.net:8004">
                  <p>
                    <p>演示网址：<a href="http://lqab.net:8003" target="_blank">http://lqab.net:8003</a> (api)</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="http://lqab.net:8004" target="_blank"> http://lqab.net:8004</a> (web)</p>
                    <p>出品：LQAB工作室（<a href="http://www.lqab.net" target="_blank">http://www.lqab.net</a>）</p>
                    <p>主创：王滕辉 吉更</p>
                    <p></p>
                </div>

            </div>
        </div>
    </div>
    </div>
</center>
</body>
</html>
